* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: white;
  color: #1a1a1a;
}

html[data-theme="dark"] {
  background: #1a1a1a;
  color: #e6e6e6;
}

a {
  color: unset;
  text-decoration: none;
}

.navbar {
  margin-bottom: 4rem;
}

.navbar .navbar-content {
  max-width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
}

.navbar .navbar-content h2 {
  font-size: 3.2rem;
}

.navbar .navbar-content .light-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-content .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  min-width: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-content .nav-links li {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.8rem;
}

.navbar .navbar-content .nav-links li:hover {
  text-decoration: underline;
  color: #4d4d4d;
}

.hero-section {
  margin-bottom: 12rem;
}

.hero-section .hero-section-content {
  max-width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-section-content .hero-about h1 {
  font-size: 6rem;
}

.hero-section .hero-section-content .hero-about h2 {
  font-size: 3.8rem;
  margin-bottom: 4rem;
  color: #2d94f5;
}

.hero-section .hero-section-content .hero-about p {
  font-size: 2.6rem;
  max-width: 60%;
  font-weight: 400;
}

.hero-section .hero-section-content .hero-yassincodes-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero-section .hero-section-content .hero-yassincodes-project .hero-yassincodes-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 16rem;
}

.hero-section .hero-section-content .hero-yassincodes-project .hero-yassincodes-description h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.hero-section .hero-section-content .hero-yassincodes-project .hero-yassincodes-description button {
  width: 9.1rem;
  height: 3.6rem;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(243, 243, 243, 0.2);
          box-shadow: 0 8px 16px 0 rgba(243, 243, 243, 0.2);
  width: 16rem;
  height: 4.8rem;
  font-size: 2.4rem;
  background: #61efff;
}

.hero-section .hero-section-content .hero-yassincodes-project .hero-yassincodes-description button:hover {
  background: #2eeaff;
}

.hero-section .hero-section-content .hero-yassincodes-project .hero-yassincodes-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(230, 230, 230, 0.4);
  margin-left: 2rem;
}

.hero-section .hero-section-content .hero-yassincodes-project .hero-yassincodes-gif img {
  max-height: 320px;
  border-radius: 8px;
}

.projects .projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
}

.projects .projects-content h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.projects .projects-content .projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bubblegum-pink {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff7abd), to(rgba(230, 230, 230, 0.9)));
  background: linear-gradient(to right bottom, #ff7abd, rgba(230, 230, 230, 0.9));
  -webkit-backdrop-filter: blur(20rem);
          backdrop-filter: blur(20rem);
}

.bubblegum-blue {
  background: -webkit-gradient(linear, left top, right bottom, from(#61efff), to(rgba(230, 230, 230, 0.9)));
  background: linear-gradient(to right bottom, #61efff, rgba(230, 230, 230, 0.9));
  -webkit-backdrop-filter: blur(20rem);
          backdrop-filter: blur(20rem);
}

.bubblegum-green {
  background: -webkit-gradient(linear, left top, right bottom, from(#52ff8e), to(rgba(230, 230, 230, 0.9)));
  background: linear-gradient(to right bottom, #52ff8e, rgba(230, 230, 230, 0.9));
  -webkit-backdrop-filter: blur(20rem);
          backdrop-filter: blur(20rem);
}

.bubblegum-orange {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff8324), to(rgba(230, 230, 230, 0.9)));
  background: linear-gradient(to right bottom, #ff8324, rgba(230, 230, 230, 0.9));
  -webkit-backdrop-filter: blur(20rem);
          backdrop-filter: blur(20rem);
}

.bubblegum-purple {
  background: -webkit-gradient(linear, left top, right bottom, from(#e166fa), to(rgba(230, 230, 230, 0.9)));
  background: linear-gradient(to right bottom, #e166fa, rgba(230, 230, 230, 0.9));
  -webkit-backdrop-filter: blur(20rem);
          backdrop-filter: blur(20rem);
}

.bubblegum-yellow {
  background: -webkit-gradient(linear, left top, right bottom, from(#f7ff61), to(rgba(230, 230, 230, 0.9)));
  background: linear-gradient(to right bottom, #f7ff61, rgba(230, 230, 230, 0.9));
  -webkit-backdrop-filter: blur(20rem);
          backdrop-filter: blur(20rem);
}

.bubblegum-darkBlue {
  background: -webkit-gradient(linear, left top, right bottom, from(#3f6bd9), to(rgba(230, 230, 230, 0.9)));
  background: linear-gradient(to right bottom, #3f6bd9, rgba(230, 230, 230, 0.9));
  -webkit-backdrop-filter: blur(20rem);
          backdrop-filter: blur(20rem);
}

.project {
  min-width: 30rem;
  max-width: 30rem;
  height: 50rem;
  border-radius: 0.8rem;
  margin: 28px auto;
  color: #1a1a1a;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3%;
          flex: 0 0 33.3%;
}

.project .project-content {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .project-content h3 {
  font-size: 2.4rem;
  text-align: center;
}

.project .project-content img {
  max-width: 100%;
  border-radius: 4px;
}

.project .project-content p {
  font-size: 1.8rem;
  font-weight: bold;
}

.project .project-content .project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.project .project-content .project-buttons button {
  width: 9.1rem;
  height: 3.6rem;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(243, 243, 243, 0.2);
          box-shadow: 0 8px 16px 0 rgba(243, 243, 243, 0.2);
  background: #1a1a1a;
  color: #e6e6e6;
}

.project .project-content .project-buttons button:hover {
  background: #333333;
}
/*# sourceMappingURL=App.css.map */